/*
*{
  margin:0;
  padding:0;
}
*/

h1{
  color:green;
 
}

body{ 
  font-family: Comic Sans MS;
  font-size:25px;
  font-weight:bold;
 
  /* same as above */
  font: bold 25 px Comic Sans MS;
  
  line-height:1.5em;
  margin:0;
}

.container{
  width:90%;
  margin:auto;
  
}

.box-1{
  background-color: red;
  color:white;
  
  border: 5px black solid;
  border-width:3px;
  border-bottom-width:10px;
  border-top-style:dotted;

  padding:20px;

  margin-top:20px;
  margin:20px 0;
}

.box-1 h1{
  font-family:Tahoma;
  font-weight:800;
  font-style:italic;
  text-decoration:underline; 
  text-transform:uppercase;
  letter-spacing:0.2em;
}

.box-2 h2 {
 font-family: Arial;
  text-decoration: none;
  letter-spacing: 2px;
}
